
<button
class=" bg-offgray hover:bg-brightgray active:bg-offgray font-sen leading-none text-left px-3 pt-3 pb-2 rounded-md transition-colors duration-250 ease-in-out">
    <span class="text-offwhite text-sm leading-none"><%= name %></span> <br>
    <span class="text-graytext text-xs leading-none"><%= description %></span>
</button>
