    <div class="div mt-2"></div>
    <label class="label font-medium ml-1 font-sen"><%= label %></label>
    <input 
        type=<%= type %> 
        class="p-2  font-sen bg-gray focus:bg-offwhite w-full h-10 rounded border-none text-dark "
        name="<%= label.toLowerCase().trim().replace(/\s+/g, '') %>"
    >

