<div class="input font-sen m-3 rounded-md">
    <label class="label font-medium ml-1"><%= label %></label>
    <input 
        type="<%= type %>" 
        class="   p-2 font-sen bg-gray focus:bg-offwhite w-full h-10 rounded border-none text-dark"
        name="<%= label.toLowerCase().replace(/\s+/g, '-') %>"
    >
</div>
