

<button
id="<%= name.toLowerCase() %>label"
class=" flex bg-offgray hover:bg-purple-500  active:text-offwhite active:bg-offgray font-sen leading-none text-left items-center gap-2 px-3 pt-3 pb-2 w-32 font-bold rounded-md transition-colors duration-250 ease-in-out ">
<span class="material-symbols-outlined hidden sm:block box-border ">
    <%= icon  %>
    </span>
<span class="hidden sm:block"> <%= name %>  </span>

    
</button>
