
<%- contentFor('action') %>
    <%- include('./components/button-link',{ 'name' : "Homepage" , 'description' : "Go Back To Homepage" , 'href'
        : "/" }) %>

        <%- contentFor('information') %>
            <section class="  min-h-96 flex-1  bg-dim w-full rounded-md p-3 text-center text-6xl font-sen text-red-400">
            ERROR 404 ! 
            <br>
            <span class="text-3xl text-offwhite">
                The page you are trying to reach does not exist. yet! YET!
            </span>

            </section>