<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saga Swap</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Sen:wght@400..800&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Sen:wght@400..800&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Overlock+SC&display=swap" rel="stylesheet">


</head>

<body class=" text-offwhite bg-dark  bg-blur bg-fixed bg-cover bg-no-repeat  p-3">

    <div class="navbar h-20 bg-dim w-full rounded-md p-3 flex items-center justify-between">
        <div class="brand text-offwhite font-logo font-bold md:text-2xl text-xl m-auto mx-3 ">
            <span class="text-violet-300 text-3xl leading-none">S</span>aga <span class="text-pink-300 text-3xl leading-none">S</span>wap
        </div>

        <%- action %>
    </div>
    <section class="flex my-3  gap-3 flex-col-reverse md:flex-row ">
        <%- information %>

        <%- body %>
    </section>

    <section class="  text-center font-3xl bg-dim w-full rounded-md p-3 flex-1 font-sen font-bold">
        MADE WITH LOVE IN LUDHIANA  
    </section>

</body>

</html>